.py-4 {
    padding-bottom: 17rem !important;
}

input, textarea{
    background-image: url('/assets/fondo/fondo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #0dcaf0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
}

input::placeholder, textarea::placeholder{
    color: #fff;
}
