<!--navbar-->
<app-navbar></app-navbar>
<!--Home-->
<section class="home py-5" id="home">
  <div class="container-lg">
    <div class="row min-vh-100 align-items-center align-content-center">
      <div class="col-md-6">
        <div class="home-img text-center">
          <img
            src="assets/profile/profile (2).png"
            class="rounded-circle border border-info border-5 mw-100"
            alt="profile"
          />
        </div>
      </div>
      <div class="col-md-6 mt-5 mt-md-0 order-md-first">
        <div class="home-text mb-4">
          <h1 class="text-info text-uppercase fs-1 fw-bold">
            Desarrollador Frontend
          </h1>
          
          <h2 class="bronce fs-4">Facundo N. Vila</h2>
          <p class="mt-4 mb-4 text-white">
            Programador frontend con dos años de experiencia.
          </p>
          <p class="mt-4 mb-4 text-white">
            trabajo con los siguientes programas:
          </p>
          <div class="icons col-md-6 ">
            <fa-icon [icon]="faJs" class="text-warning"></fa-icon>
            <fa-icon [icon]="faReact" class="px-2 text-primary"></fa-icon>
            <fa-icon [icon]="faAngular" class="text-danger"></fa-icon>
            <fa-icon [icon]="faFigma" class="px-2 text-white"></fa-icon>
            <fa-icon
              [icon]="faBootstrap"
              class="boostrap"
              style="color: #553c7b"
            ></fa-icon>
          </div>
          <div class="button-container col-sm-4 py-4">
            <a
              href="#portfolio"
              (click)="toProjects()"
              class="btn btn-info text-white px-3 ms-3"
              >Mis Proyectos</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--portfolio section-->
<app-portfolio></app-portfolio>
<!--contact section-->
<app-contact></app-contact>
<!--footer-->
<app-footer></app-footer>
