<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-secondary btn-danger px-3"  ngbDropdownToggle>
				<i class="bi bi-list"></i>
			</button>
			<div ngbDropdownMenu  class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownBasic1 ">
				<button ngbDropdownItem>Home</button>
				<button ngbDropdownItem>About</button>
				<button ngbDropdownItem>Service</button>
				<button ngbDropdownItem>Portfolio</button>
				<button ngbDropdownItem>Testimonials</button>
				<button ngbDropdownItem>Contact</button>
			</div>
		</div>
	</div>