<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-secondary bg-info px-3"  ngbDropdownToggle>
				<i class="bi bi-list"></i>
			</button>
			<div ngbDropdownMenu class="dropdown-menu bg-info dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownBasic1">
				<button (click)="toHome()" ngbDropdownItem>Principal</button>
				<button (click)="toProjects()" ngbDropdownItem>Proyectos</button>
				<button (click)="toContact()" ngbDropdownItem>Contacto</button>
			  </div>
		</div>
	</div>